@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
li {
  line-height: 1.6;
  margin: 0.4rem;
}
li::marker {
  color: #0bf;
}
body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
}
.container {
  max-width: 55rem;
  background-color: #fff;
}
@media only screen and (min-width: 769px) {
  .container {
    margin: 2rem auto;
  }
}

.container > header {
  background: #0bf;
}
.container > header > div:nth-child(2) {
  padding: 2rem 3rem;
}
@media only screen and (max-width: 768px) {
  .container > header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  .container > header > div:nth-child(2) {
    padding: 1rem 3rem;
    text-align: center;
  }
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-radius: 50%;
  overflow: hidden;
}
@media only screen and (min-width: 769px) {
  .img-container {
    border-radius: unset;
    width: 22.5%;
  }
}

aside {
  font-size: 0.65rem;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  aside {
    text-align: right;
  }
}
aside p {
  margin-bottom: 1rem;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.flex {
  display: flex;
}
.ai-c {
  align-items: center;
}
.caps {
  text-transform: uppercase;
}

.pv-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ph-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ph-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ph-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.pt-1 {
  padding-top: 0.5rem;
}
.pt-2 {
  padding-top: 1rem;
}
.mv-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.fs-2 {
  font-size: 1.5rem;
}
.fw-b {
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.c-white {
  color: #fff;
}
.col-m-20,
.col-m-80 {
  width: 100%;
  flex: 0 0 100%;
}
@media only screen and (min-width: 769px) {
  .col-m-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-m-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .pv-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .ph-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ph-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .ph-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pt-1 {
    padding-top: 1rem;
  }
  .pt-2 {
    padding-top: 2rem;
  }
  .mv-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .mb-2 {
    margin-bottom: 2rem;
  }
  .fs-2 {
    font-size: 2rem;
  }
}
img {
  width: 100%;
  height: auto;
}
.btn-style {
  background-color: #0bf;
  padding: 0.1rem 0.4rem;
  color: #fff;
  border-radius: 6px;
  font-size: small;
}
